body {
  margin: 0;
  padding: 0;
}
body header {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  width: 100%;
  height: 15vh;
}
body main {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: grey;
  width: 100%;
  height: 70vh;
}
body main .container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 70%;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  body main .container {
    background-color: red;
  }
}
body main .container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 0;
  box-shadow: 0 0 5px 5px gray;
  color: green;
  list-style-type: none;
  padding: 10px;
  font-size: 1em;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  body main .container ul {
    background-color: #423c3c;
    font-size: 2em;
    gap: 10px;
  }
  body main .container ul li {
    border: 5px solid #9e7979;
    width: 100px;
  }
}
body main .container ul .done {
  color: red;
  text-decoration: line-through;
}
body footer {
  background-color: cadetblue;
  width: 100%;
  height: 15vh;
}
@media screen and (min-width: 1024px) {
  body footer {
    background-color: #c4eeff;
  }
}