body {
  margin: 0;
  padding: 0;
}
body header {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  width: 100%;
  height: 15vh;
  font-size: 12pt;
}
body main {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: grey;
  width: 100%;
  height: 70vh;
}
body main .container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 70%;
  background-color: white;
}
body main .container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  margin: 0;
  box-shadow: 10px 10px 10px grey;
  color: green;
  background-color: #e4d7d7;
  list-style-type: none;
  padding: 10px;
  font-size: 1em;
  line-height: 30px;
}
body main .container ul .done {
  color: red;
  text-decoration: line-through;
}
body footer {
  background-color: cadetblue;
  width: 100%;
  height: 15vh;
}