@mixin listStyle($orientation) {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: $orientation;
}

@mixin tablets() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
